@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins" !important;
}

* {
  margin: 0;
  padding: 0;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}



.parallax {
  background-image: url("/public/plain.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: auto;
}

.about-parallax{
  background-image: url("/public/whiteplain.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: auto;
}

@keyframes slideUp {
  0% { transform: translateY(30px); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}

.animate-slide-up {
  animation: slideUp 1s ease-out forwards;
}

.stoke{
  -webkit-text-stroke: 1px solid black;
  -webkit-text-fill-color: white;
}
